@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
<div class="text-center">
    <h1 class="display-4">Are You Ready to Conquer the World, Darling?</h1>
    <h3 class="display-4">< * One Step at a Time * ></h3>

</div>
